___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv("Salaries.csv")

** Check the head of the DataFrame. **

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [5]:
sal['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [6]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [7]:
sal.loc[sal['EmployeeName'] == "JOSEPH DRISCOLL"]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [8]:
sal.loc[sal['EmployeeName'] == "JOSEPH DRISCOLL"]['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [9]:
sal.iloc[sal['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [10]:
sal.iloc[sal['TotalPayBenefits'].idxmin()]
#Yes, Joe is paid a negative amount

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                      0
OvertimePay                                  0
OtherPay                               -618.13
Benefits                                     0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [14]:
sal.groupby("Year").mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [16]:
sal['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [28]:
sal.groupby("JobTitle").count().sort_values("Id", ascending = False)[0:5]

,Id,EmployeeName,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
JobTitle,,,,,,,,,,,,
Transit Operator,7036,7036,6975,7036,7036,7036,7036,7036,7036,0,7036,0
Special Nurse,4389,4389,4382,4389,4389,4389,4389,4389,4389,0,4389,0
Registered Nurse,3736,3736,3725,3736,3736,3736,3736,3736,3736,0,3736,0
Public Svc Aide-Public Works,2518,2518,2514,2518,2518,2518,2518,2518,2518,0,2518,0
Police Officer 3,2421,2421,2411,2421,2421,2421,2421,2421,2421,0,2421,0

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [54]:
sal.loc[sal['Year'] == 2013].groupby('JobTitle').count()[sal.loc[sal['Year'] == 2013].groupby('JobTitle').count()['Id'] == 1].index.values

array(['Acupuncturist', 'Adm, SFGH Medical Center',
       'Administrative Analyst I', 'Administrative Analyst II',
       'Administrator, DPH', 'Airport Communications Officer',
       'Airport Mechanical Maint Sprv', 'Animal Care Asst Supv',
       'Animal Care Supervisor', 'Animal Control Supervisor',
       'Arborist Technician Supv II', 'Area Sprv Parks, Squares & Fac',
       'Asphalt Plant Supervisor 1', 'Assessor',
       'Assistant Director, Probate', 'Assistant Industrial Hygienist',
       'Assistant Inspector', 'Assistant Inspector 2',
       'Assistant Law Librarian', 'Assistant Power House Operator',
       'Assistant Sheriff', 'Assoc Musm Cnsrvt, AAM',
       'Asst Chf, Bur Clm Invest&Admin', 'Asst Dir of Clinical Svcs 1',
       'Asst Dir, Log Cabin Rnch', 'Asst Director, Juvenile Hall',
       'Asst Superintendent Rec', 'Attorney, Tax Collector',
       'Auto Body & Fender Wrk Sprv 1', 'Baker', 'Bd/Comm Secretary 3',
       'Board Scty, MTA', 'Braillist', 'Captain, (Fire Department)',
       'Cement Finisher Supervisor 2', 'Cfdntal Sctry to City Atty',
       'Chf District Atty Investigator', 'Chf Victim/Witness Invstgtor',
       'Chief Adult Probation Officer', 'Chief Dep Adlt Prob Of (SFERS)',
       'Chief Deputy Adlt Probation Of', 'Chief Electrical Inspector',
       'Chief Fire Alarm Dispatcher', 'Chief Housing Inspector',
       'Chief Nursery Specialist', 'Chief Plumbing Inspector',
       'Chief Telephone Operator', 'Chief of Police',
       'Chief, Fire Department', 'City Attorney',
       'City Shops Asst Superintendent', 'Civil Case Settlmnt Specialist',
       'Claims Process Clerk', 'Communications Director',
       'Conservatorship/Case Mgt Sprv', 'Controller',
       'Court Asst-Sr, Superior Court', 'Court Asst., Superior Court',
       'Court Clerk', 'Court Executive Officer',
       'Court Interpreter Supervisor', 'Court Reporter Coordinator',
       'Crane Mechanic Supervisor', 'Crime Lab Mgr',
       'Dep Dir for Investments, Ret', 'Depty Sealer of Weights & Meas',
       'Dir Emp Relations Div', 'Dir, Log Cabin Ranch (SFERS)',
       'Director, Fiscal Services', 'Director, Human Resources',
       'Director, Info Tech Group', 'Director, Juvenile Hall',
       'Director, Probate', 'Director, Probation Services',
       'Disability Access Coordinator', 'District Attorney',
       'Drug Court Coordinator', 'Electric Motor Repair Sprv 1',
       'Electroencephalograph Tech 1', 'Emergency Medical Svcs Chief',
       'Emergency Services Assistant', 'Emergency Services Coord I',
       'Employee Assistance Counselor', 'Employment & Training Spec 6',
       'Environmental Hlth Tech 2', 'Ex Asst to Ex Dir, Retirement',
       'Ex Asst to the Controller', 'Ex Dir, SE Com Fac Comm', 'Farmer',
       'Feasibility Analyst, Port', 'Field Svcs Asst Supv',
       'Forensic Toxicologist', 'Gen Mgr, Public Trnsp Dept',
       'Glazier Supervisor 1', 'Graphics Supervisor', 'Head Photographer',
       'Human Resources Director', 'IS Operator-Analyst',
       'IS Operator-Journey', 'IS Technician Assistant',
       'IS Trainer-Senior', 'Industrial Engineer', 'Junior Clerk Typist',
       'Laboratory Technician I', 'Law Librarian', 'Legislation Clerk',
       'Librarian 2 - Asian Arts', 'Managing Attorney',
       'Market Research Spec, Port', 'Materials/Supplies Supervisor',
       'Mayor', 'Mayoral Staff VII', 'Mayoral Staff X',
       'Mayoral Staff XII', 'Mech Shop & Equip Supt',
       'Media Production Specialist', 'Media Programming Spec',
       'Media Training Specialist', 'Media/Security Syst Supv',
       'Mental Health Hearing Officer', 'Metalsmith',
       'Mgr Museum Security Services', 'Municipal Stadium Groundskpr',
       'Operating Room Nurse', 'Ornamental Iron Wrk Sprv 1',
       'Orthopedic Technician 1', 'Orthopedic Technician 2',
       'Painter Supervisor 2', 'Parking Hearing Examiner',
       'Payroll Supervisor', 'Performance Analyst I',
       'Plumber Supervisor 2', 'Port Director',
       'Power Plant Supervisor 1', 'Pr Investigator, Tax Collector',
       'PrDAInvest,SpecUnit (SFERS)', 'Principal Museum Preparator',
       'Principal Real Property Ofc', 'Principal Recreation Sprv',
       'Public Defender', 'Public Safety Comm Tech',
       'Real Estate Devt. Mgr, SFMTA', 'Rent Board Supervisor',
       'Research Psychologist', 'Roofer Supervisor 1',
       'Sctry, Human Svcs. Commission', 'Sctry, Juv Probation Comm',
       'Secretary, Comm on the Environ', 'Secretary, Health Commission',
       'Secretary, Library Commission', 'Senior Assessment Clerk',
       'Senior Book Repairer', 'Senior Data Entry Operator',
       'Senior Food Service Supervisor', 'Senior Morgue Attendant',
       'Senior Museum Preparator', 'Senior Offset Machine Operator',
       'Senior Pharmacy Helper', 'Senior Plan Checker',
       'Senior Psychiatric Orderly', 'Senior Transcriber Typist',
       'Senior Transit Traffic Checker', 'Shade and Drapery Worker',
       'Sheet Metal Wrk Supervisor 2', 'Shelter Office Asst Supv',
       'Shelter Officer Supervisor', 'Sheriff (SFERS)',
       'Signal and Systems Engineer', 'Soft Floor Coverer Supvr I',
       'Special Assistant 14', 'Special Assistant 15',
       'Special Assistant 16', 'Special Assistant 21',
       'Specialist in Aging 2', 'Sprv Adult Prob Ofc (SFERS)',
       'Sr Employee Asst Counselor', 'Sr General Utility Mechanic',
       'Sr Light Rail Veh Equip Eng', 'Sr Medical Transcriber Typist',
       'Sr Opers Mgr', 'Statistician', 'Sup Ct Admin Secretary',
       'Sup Welfare Fraud Investigator', 'Supervising Parts Storekeeper',
       'Supply Room Attendant', 'Telecommunications Tech Supv',
       'Track Maint Supt, Muni Railway', 'Traf Signal Electrician Sup II',
       'Traffic Sign Manager', 'Traffic Signal Operator',
       'Training Coordinator', 'Training Technician',
       'Transit Paint Shop Sprv1', 'Treasurer',
       'Trnst Power Line Wrk Sprv 2', 'Undersheriff',
       'Vet Laboratory Technologist', 'Victim & Witness Technician',
       'Water Meter Shop Supervisor 1', 'Wharfinger 1',
       'Window Cleaner Supervisor', 'Wire Rope Cable Maint Sprv'],
      dtype=object)

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [59]:
len(sal.loc[sal['JobTitle'].apply(lambda x: "Chief" in x)])

423

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

# Great Job!