In [1]:
import numpy as np
import pandas as pd

In [2]:
#Initialize some Python objects for pandas demonstration
#Pandas is the Python version of R dataframes
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [4]:
#Create pandas series with default indices
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [6]:
#Create pandas series with preset labels
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [8]:
#Remember that the data parameter comes first, followed by the index parameter
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [10]:
#You can create a series with either a list or array of data
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [12]:
#You can create a series with a dictionary
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
#Series can hold a variety of data
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [14]:
#They can even hold functions
pd.Series(data = [sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [15]:
ser1 = pd.Series([1,2,3,4], ['USA', 'Germany', 'USSR', 'Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [17]:
ser2 = pd.Series([1,2,5,4], ['USA', 'Germany', 'Italy', 'Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [18]:
ser1['USA']

1

In [19]:
#You can add series together, and they will base their addition on their matching keys
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64