In [3]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [4]:
# Index levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [6]:
inside

[1, 2, 3, 1, 2, 3]

In [7]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
df = pd.DataFrame(randn(6, 2), hier_index, columns = ['A', 'B'])
df

             A         B
G1 1 -0.226642  1.472294
   2 -0.259566 -0.401743
   3  1.849886  0.062179
G2 1 -0.915967  1.308307
   2  0.948154 -0.439120
   3  0.846911  0.333055

In [9]:
df.loc['G1']

          A         B
1 -0.226642  1.472294
2 -0.259566 -0.401743
3  1.849886  0.062179

In [10]:
df.loc['G1'].loc[1]

A   -0.226642
B    1.472294
Name: 1, dtype: float64

In [11]:
df.index.names

FrozenList([None, None])

In [13]:
df.index.names = ['Groups', 'Numbers']
df

                       A         B
Groups Numbers
G1     1       -0.226642  1.472294
       2       -0.259566 -0.401743
       3        1.849886  0.062179
G2     1       -0.915967  1.308307
       2        0.948154 -0.439120
       3        0.846911  0.333055

In [16]:
#This line doesn't work because 2 is an integer
df.loc['G2'].loc["2"]['B']

KeyError: '2'

In [17]:
df.loc['G2'].loc[2]['B']

-0.4391202087091238

In [19]:
#Use "xs", or cross section, to index across multiple indexes
df.xs('G1')

                A         B
Numbers
1       -0.226642  1.472294
2       -0.259566 -0.401743
3        1.849886  0.062179

In [20]:
df.xs(1, level = "Numbers")

               A         B
Groups
G1     -0.226642  1.472294
G2     -0.915967  1.308307